{% extends 'Layout/common.html' %}

{% block title %}About Us{% endblock title %}

{% block main %}

<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Teacher Id</th>
      <th scope="col">Teacher Name</th>
      <th scope="col">Teacher Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    {% if thr %}

      {% for data in thr %}
        <tr>
          <td> {{data.tid}} </td>
          <td> {{data.tname}} </td>
          <td> {{data.emain}} </td>
          <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      {% endfor %}
      
    {% else %}
      <tr class="text-danger">No data found</tr>
    {% endif %}

  </tbody>
</table>

{% endblock main %}